<script src="https://accounts.google.com/gsi/client" async></script>
<script>
  import { api } from "@/lib/api";
  // @ts-ignore
  async function handleCredentialResponse(response) {
    console.log("Encoded JWT ID token: " + response.credential);
    const token = await api.
  }
  window.onload = function () {
    // @ts-ignore
    google.accounts.id.initialize({
      client_id:
        "878635631561-996p9vdbemp1n3r7dcs91i9f0e6i25fi.apps.googleusercontent.com",
      callback: handleCredentialResponse,
      hd: "chula.ac.th",
    });
    // @ts-ignore
    google.accounts.id.renderButton(
      document.getElementById("buttonDiv"),
      { theme: "outline", size: "large" }, // customization attributes
    );
    // @ts-ignore
    google.accounts.id.prompt(); // also display the One Tap dialog
  };
</script>

<div id="buttonDiv"></div>
